$header-top-bgcolor: #360060;
$header-main-color: #6004ba;
$main-color-aqua: #00cac5;
$main-color-purple: #6004ba;
$main-page-footer-color: #1d0033;
$blog-container: 1290px;
$blog-color: #e3e3e3;
$header-fixed-height: 114px;
$article-container: 600px;
$gold: #e0c300;
$third-level-menu-color: #2e7da3;